<!DOCTYPE html5>
<html>
    <head ng-app>
        <title>PiMonitor - Dashboard</title>
        <link rel="stylesheet" href="../public/static/css/dashboard.css" >
        <link rel="stylesheet" href="../public/static/modules/bootstrap/dist/css/bootstrap.min.css" >
        <link rel="stylesheet" href="../public/static/modules/owlcarousel/owl-carousel/owl.carousel.css">
        <link rel="stylesheet" href="../public/static/modules/owlcarousel/owl-carousel/owl.theme.css">
        <script src="../public/static/modules/jquery/dist/jquery.min.js"> </script>
        <script src="../public/static/modules/jquery.ui/jquery-ui-1.10.4.min.js"> </script>
        <script src="../public/static/modules/bootstrap/dist/js/bootstrap.min.js"> </script>
        <script src="../public/static/modules/owlcarousel/owl-carousel/owl.carousel.min.js"> </script>
        <script src="/static/modules/"
        <script src="../public/static/js/dashboard.js"> </script>
    </head>
    <body>
        <div class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">PiMonitor.js</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/rpi/home">Home</a></li>
                        <li class="active"><a href="/rpi/dashboard">Dashboard</a></li>
                        <li><a href="/rpi/ssh">SSH</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">More <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Processes</a></li>
                                <li><a href="#">X11</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Nav header</li>
                                <li><a href="#">Separated link</a></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Raspberry Pi info</a></li>
                        <li><a href="/logout"><b>Logout</b></a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
        <div class="container">
            
            <div class="row">
                <h2 class="col-xs-6">Dashboard</h2>
                <div class="col-xs-6">
                    <button id="widget-button" type="button" class="btn btn-default" >Edit Widgets</button>
                </div>
                
            </div>
            
        </div>
        <div id="widgets" class="owl-carousel">
            
        </div>
        
        <div class="container">
            
        </div>
    </body>
</html>