<!DOCTYPE html5>
<html>

<head>
  <title>PiMonitor - Login</title>
  <link rel="stylesheet" href="/static/css/login.css">
  <link rel="stylesheet" href="/static/modules/bootstrap/dist/css/bootstrap.min.css">
  <script src="/static/modules/jquery/jquery.min.js">
  </script>
  <script src="/static/modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/static/modules/localforage/dist/localforage.min.js"></script>
  <script src="/static/js/login.js"></script>
</head>

<body>
  <div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <h3 class="title_bar">Welcome to PiDashboard.js</h3>
    </div>
  </div>
  <div class="container">
    <div class=row>
      <div class="col-md-4 col-md-offset-4">
        <h4>Welcome to your Pi Dashboard</h3>
                    <p> Use your System Username and Password to get strated.</p>
                </div>
            </div>
            <div class=row>
                <div class="hidden errormsg col-md-4 col-md-offset-4 alert alert-danger">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <h3><span class="fa fa-sign-in"></span>Login</h3>
                    <form id="form"  role="form" method="post" action="/login">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" name="username" id="username" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="rememberMe"> Remember me
                            </label>
                        </div>
                        <button id="loginbtn" type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <img  src="static/images/rpi.svg" width="100%">
                </div>
            </div>
        </div>
    </body>
</html>