#ssh {
  width: 100%;
  //TODO change this so that it fills rest of page
  height: 100%;
}

.window,
.tab {
  display: inline-block;
}

.window {
  opacity: 0.98;
  .bar {
    width: 100%;
    height: 30px;
    background-color: rgb(213, 213, 213);
    cursor: grab;
    .title {
      line-height: 30px;
      font-family: monospace;
    }
  }
  &.ui-draggable-dragging .bar {
    cursor: grabbing;
  }
}
