#widget-button {
    float: right;
    margin-top: 20px;
}

#widgets {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 0px;
    background-color: rgba(60, 192, 60, 0.71);
    box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.3),
                inset 0px -5px 10px rgba(0, 0, 0, 0.3);
    overflow:   hidden;
    transition: height 0.2s
}

.widget {
    margin: 10px;
    height: 120px;
    width: 200px;
    border: 1px solid #777;
    border-radius: 5px;
    float: left;
    background-color: #FFF;
    opacity: 0.8;
}

.widget-top {
    line-height: 25px;
    height: 25px;
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px; 
    background-color: #4E4E4E;
    margin-top: -1px;
    margin-left: -1px;
    color: #FFF;
    padding-left: 5px;
    cursor: move;
}

.widget-menu {
    cursor: pointer;
}